div.container {
    margin-top: 20px;
}
div.ad-title {
    padding: 2em;
    background-size: cover; /* étire l'image de la taille disponible */
    background-position: center center;
}

div.ad-title h1, div.ad-title p {
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

div.carousel-caption {
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

h4 a:hover {
    text-decoration: none;
    color: #1559CF;
}

h3 a:hover {
    text-decoration: none;
}

.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-medium {
    max-width: 64px;
    max-height: 64px;
}

.avatar-mini {
    max-width: 24px;
    max-height: 24px;
}

.datepicker table tr td.disabled,  table tr td.disabled:hover {
    color: rgba(128, 128, 128, 0.527) !important;
}

.datepicker td.day {
    color: black;
}


