<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SymBNB - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="https://kit.fontawesome.com/b58bde5233.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/app.css">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include '/partials/header.html.twig' %}
        {% block body %}{% endblock %}

        {% include 'partials/footer.html.twig'%}
        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
