{% extends 'base.html.twig' %}

{% block title %}Nos annonces{% endblock %}

{% block body %}
<div class="container">
    <h1 class="h1 mt-5 mb-5">Voici les annonces de nos hôtes !</h1>
    <div class="row">
        {% for ad in ads %}
           {% include '/ad/_ad.html.twig' %}
        {% endfor %}
    </div>
</div>
{% endblock %}
